.formHeader
{
	text-align: center;
	font-family: 'Satisfy', cursive;
	margin-bottom: 25px;
}

.formHeader h1
{
	transition: .5s;
}

.formHeader  h1:hover
{
	color: gold;
}

.formFooter
{
	text-align: center;
}

.errorMessage, .serverOutput
{
	font-weight: bold;
	font-size: 16px;
	font-family: 'Josefin Slab', serif;
	opacity: 0;
}

.errorMessage
{
	color: red;
	display:none;
	text-align: left !important;
}

/* for the transitions */
.inputContainer
{
	transition: .5s;
}

/* inputs */
button[type=submit]
{	
	width: 200px;
}
/* inputs */