body
{
}


/* top bar */
.topBar
{
	position : fixed;
	width: 100%;
	padding: 20px 0px 20px 0px;
	background-color: black;
	z-index: 999;
}

.topBar .logo
{
	position: absolute;
	left: 10px;
	top: 0%;
	font-size: 50px;
	color: white;
	font-family: 'Satisfy', cursive;
}

.topBar form input
{
	position: relative;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
	padding: 5px 15px 5px 15px;
	
	background-color: rgba(255,255,255,0.9);
	/*font-family: 'Josefin Slab', serif;*/
	font-family: 'Yantramanav', sans-serif;
	font-size: 15px;
	
	border-radius: 20px;
	transition: .5s;
}

.topBar form input:hover
{
	width: 100%;
	left: 0%;
	margin-left: 0%;
	background-color: rgba(255,255,255, 1);
}
/* top bar */

/* the nav bar */
nav
{
	letter-spacing: 5px;
	text-align: center;
}

nav ul
{
	list-style: none;
	perspective: 1000px;
}

nav ul li
{
	display: inline-block;
	margin-right: 50px;
	font-size: 20px;
}

nav ul li a
{
	color: black;
	transition: .5s;
}

nav ul li a:hover
{
	display: block;
	color: gold;
	text-shadow: 0px 0px 1px black;
	transform: translateZ(50px);
}
/* the nav bar */

/* Other */
.plusplusHeader, .plusplusSubHeader
{
	font-family: 'Josefin Slab', serif;
	letter-spacing: 5px;
}

.plusplusHeader
{
	text-decoration: underline;
}

.plusplusText
{
	font-size: 30px;
	font-family: 'Josefin Slab', serif;
}

table th, table td
{
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
}
/* Other */